<a class="bubble" href="{{ .ctx.Permalink }}">
    <i class="fas fa-fw {{or .ctx.Params.icon "fa-music" }}"></i>
</a>

<article class="audio">
    {{ partial "featured-image.html" .ctx }}

    {{ with .ctx.Params.spotify }}
        <div class="responsive-audio spotify">
            <iframe class="no-js-hidden" src="https://open.spotify.com/embed?uri={{ . }}" width="300" height="80" frameborder="0"
                allowtransparency="true"></iframe>

            <div class="no-js-message">
                The spotify player can not be loaded with disabled javascript. <br>
                The following title is embedded here: <br>

                <a href="https://open.spotify.com/track/embed?uri={{ replace . "spotify:track:" ""}}" target="_blank">
                    https://open.spotify.com/track/embed?uri={{ replace . "spotify:track:" ""}}
                </a>
            </div>
        </div>
    {{ end }}

    {{ with .ctx.Params.soundcloud }}
        <div class="responsive-audio soundcloud">
            <iframe class="no-js-hidden" width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url={{ . }}&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>

            <div class="no-js-message">
                The soundcloud player can not be loaded with disabled javascript. <br>
                The following title is embedded here: <br>

                <a href="{{ . }}" target="_blank">
                    {{ . }}
                </a>
            </div>
        </div>
    {{ end }}

    {{ with .ctx.Params.tunein }}
        <div class="responsive-audio tunein">
            <iframe class="no-js-hidden" src="https://tunein.com/embed/player/{{ . }}/" style="width:100%; height:100px;" scrolling="no"
                frameborder="no"></iframe>

            <div class="no-js-message">
                The tunein player can not be loaded with disabled javascript. <br>
                The following title is embedded here: <br>

                <a href="https://tunein.com/topic/?topicid={{ replace . "t" "" }}" target="_blank">
                    https://tunein.com/topic/?topicid={{ replace . "t" "" }}
                </a>
            </div>
        </div>
    {{ end }}

    {{ with .ctx.Params.mixcloud }}
        <div class="responsive-audio mixcloud">
            <iframe class="no-js-hidden" width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=/{{ . }}/"
                frameborder="0"></iframe>

            <div class="no-js-message">
                The mixin player can not be loaded with disabled javascript. <br>
                The following title is embedded here: <br>

                <a href="https://mixcloud.com/{{ . }}" target="_blank">
                    https://mixcloud.com/{{ . }}
                </a>
            </div>
        </div>
    {{ end }}

    {{ partial "default-content.html" (dict "ctx" .ctx "template_type" .template_type) }}
    {{ partial "article-footer.html" .ctx }}
</article>
