<a class="bubble" href="{{ .URL }}">
    <i class="fa fa-fw {{or .Params.icon "fa-camera" }}"></i>
</a>

<article class="gallery">
    {{ if and (isset .Params "gallery") (ne .Params.gallery "") }}
        <div class="flexslider">
            <ul class="slides">
            {{ range .Params.gallery }}
                <li><img src="{{ . | relURL }}" /></li>
            {{ end }}
            </ul>
        </div>
    {{ else if ne .Params.imageSlider false }}
        <div class="flexslider">
            <ul class="slides">
            {{ if and (.Site.Params.resizeImages | default true) (.Params.resizeImages | default true) }}
                {{ range .Resources.ByType "image" }}
                    <li><img src="{{ (.Fill "700x350 q95").RelPermalink }}" /></li>
                {{ end }}
            {{ else }}
                {{ range .Resources.ByType "image" }}
                    <li><img src="{{ .RelPermalink }}" /></li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
    {{ else}}
        {{ partial "featured-image" . }}
    {{ end }}

    {{ partial "default-content" . }}
    {{ partial "article-footer" . }}
</article>
