<a class="bubble" href="{{ .URL }}">
    <i class="fa fa-fw fa-camera"></i>
</a>

<article class="gallery">

    {{ if ne .Params.imageSlider false }}
    <div class="flexslider">
        <ul class="slides">
        {{ range .Resources.ByType "image" }}
            <li><img src="{{ .RelPermalink }}" /></li>
        {{ end }}
        </ul>
    </div>
    {{ else}}
        {{ partial "featured-image" . }}
    {{ end }}

    {{ partial "default-content" . }}
    {{ partial "tag-footer" . }}
</article>
