/* comfortaa-regular - greek_latin-ext_vietnamese_cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../static/fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* comfortaa-700 - greek_latin-ext_vietnamese_cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../../static/fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* open-sans-regular - latin-ext_vietnamese_cyrillic-ext_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-regular.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-regular.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* open-sans-italic - latin-ext_vietnamese_cyrillic-ext_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-italic.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-italic.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-italic.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* open-sans-700 - latin-ext_vietnamese_cyrillic-ext_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-700.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-700.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-700.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* open-sans-700italic - latin-ext_vietnamese_cyrillic-ext_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-700italic.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-700italic.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/open-sans-v17-latin-ext_vietnamese_cyrillic-ext_greek-ext-700italic.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* fira-code-regular - latin-ext_cyrillic-ext_greek-ext */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../static/fonts/fira-code-v8-latin-ext_cyrillic-ext_greek-ext-regular.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/fira-code-v8-latin-ext_cyrillic-ext_greek-ext-regular.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/fira-code-v8-latin-ext_cyrillic-ext_greek-ext-regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

/* fira-code-700 - latin-ext_cyrillic-ext_greek-ext */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../../static/fonts/fira-code-v8-latin-ext_cyrillic-ext_greek-ext-700.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../../static/fonts/fira-code-v8-latin-ext_cyrillic-ext_greek-ext-700.woff') format('woff'),
  /* Modern Browsers */
  url('../../static/fonts/fira-code-v8-latin-ext_cyrillic-ext_greek-ext-700.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}
