@font-face {
  font-family: 'flexslider-icon';
  src: url($fonts-folder + 'flexslider-icon.eot');
  src: url($fonts-folder + 'flexslider-icon.eot?#iefix') format('embedded-opentype'), url($fonts-folder + 'flexslider-icon.woff') format('woff'), url($fonts-folder + 'flexslider-icon.ttf') format('truetype'), url($fonts-folder + 'flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url($fonts-folder + 'fontawesome-webfont.eot?v=4.7.0');
  src: url($fonts-folder + 'fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url($fonts-folder + 'fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url($fonts-folder + 'fontawesome-webfont.woff?v=4.7.0') format('woff'), url($fonts-folder + 'fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url($fonts-folder + 'fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* open-sans-regular - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'open-sans-v15-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-regular - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'roboto-v18-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* comfortaa-regular - vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/* comfortaa-700 - vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'comfortaa-v12-vietnamese_latin_greek_cyrillic-ext_latin-ext_cyrillic-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url($fonts-folder + 'roboto-mono-v5-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url($fonts-folder + 'roboto-mono-v5-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts-folder + 'roboto-mono-v5-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts-folder + 'roboto-mono-v5-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url($fonts-folder + 'roboto-mono-v5-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fonts-folder + 'roboto-mono-v5-vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
