// Settings for customization
@import "variables";

// Dependencies
@import '~normalize.css/normalize.css';
@import '~skeleton-css/css/skeleton.css';
@import '~flexslider/flexslider.css';
@import '~tooltipster/dist/css/tooltipster.bundle.css';
@import '~tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css';
@import "~magnific-popup";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'fontface';

// Basic bilberry styling
@import 'bilberry-hugo-theme';
