{{ if and .Site.Params.permanentTopNav .Site.Params.stickyNav }}
    <nav class="permanentTopNav sticky">
{{ else if eq .Site.Params.permanentTopNav true }}
    <nav class="permanentTopNav">
{{ else }}
    <nav>
{{ end }}
    <div class="container">
        <ul class="topnav">
            {{ range site.Menus.topnav }}
                {{ $page := .Page }}
                {{ if and (isset $page.Params "link") (ne $page.Params.link "") }}
                    <li><a href="{{ $page.Params.link | relLangURL }}"
                           target="{{ $page.Params.target }}">{{ .Title }}</a></li>
                {{ else }}
                    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>

        {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
            <div id="search-box" class="search">
                <i class="fas fa-search"></i>
                <input id="search" type="text" placeholder="{{ i18n "search" }}">
            </div>
        {{ end }}
    </div>
</nav>
