/* do not group these rules */
*::-webkit-input-placeholder {
    color: darken($dk-nav-text-color, 10);
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: darken($dk-nav-text-color, 10);
}

*::-moz-placeholder {
    /* FF 19+ */
    color: darken($dk-nav-text-color, 10);
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: darken($dk-nav-text-color, 10);
}

nav {
    background: $dk-nav-background-color;
    color: $dk-nav-text-color;

    ul {
        li {
            a.hover {
              color: $dk-bubble-hover-color;
            }
        }
    }

    // Algolia-Search
    .search {
        input {
            color: $dk-nav-text-color;
            background-color: lighten($dk-nav-background-color, 5);
            &:hover,
            &:focus {
                background-color: lighten($dk-nav-background-color, 10);
            }
        }

        .algolia-autocomplete {
            color: $dk-algolia-search-box-color;

            .aa-dropdown-menu {
                .branding {
                    background-color: $dk-page-background-color;
                }
            }

            .aa-suggestion {
                span {
                    background-color: $dk-algolia-search-box-background-color;

                    &:hover,
                    &:focus {
                        background-color: darken($dk-algolia-search-box-background-color, 2);
                    }

                    .fa {
                        color: $dk-algolia-search-box-icon-color;
                    }
                }
            }
        }

        .aa-input-search {
            border: 1px solid $dk-algolia-border-color;
        }

        .aa-input-icon {
            fill: $dk-algolia-border-color;
        }

        .aa-dropdown-menu {
            background-color: #fff;
            border: 1px solid rgba($dk-algolia-border-color, 0.6);
        }

        .aa-suggestion + .aa-suggestion {
            border-top: 1px solid rgba($dk-algolia-border-color, 0.6);
        }

        .aa-suggestions-category {
            border-bottom: 1px solid rgba($dk-algolia-border-color, 0.6);
            border-top: 1px solid rgba($dk-algolia-border-color, 0.6);
        }
    }
}
