header {
    background-color: $dk-base-color;
    color: $dk-header-text-color;
    .container {
        &:after {
           background: rgba(255, 255, 255, 0.1);
        }
    }

    .logo {
        background-color: $dk-logo-color;
        border: 5px $dk-logo-color solid;
        color: $dk-logo-color;
       .overlay {
           background-color: $dk-bubble-hover-color;
       }
    }

    .darkToggle {
      background-color: $dk-special-color;
      a {
        color: $dk-header-text-color;
      }
   }

    .languages {
       background-color: $dk-special-color;
        a {
           color: $dk-header-text-color;
        }
    }

    .toggler {
       background: $dk-special-color;
   }
}
