footer {
    border-top: 3px solid $dk-footer-border-color;
    border-bottom: 3px solid $dk-footer-border-color;
    background-color: $dk-footer-background-color;

    .container {
        strong {
            color: $dk-footer-headline-color;
        }
        ul {
            a {
                color: $dk-highlight-color;
                &:hover {
                    // color: lighten($dk-base-color, 70);
                    color: lighten($dk-page-background-color, 70);
                }
            }
        }

        .right {
            .external-profiles {
                a {
                    color: $dk-footer-headline-color;
                    &:hover {
                        color: $dk-highlight-color;
                    }
                }
           }

            .languages {
                a {
                    color: $dk-highlight-color;
                    &:hover {
                        color: $dk-text-color;
                    }
                    &:not(:last-child):after {
                        color: $dk-text-color !important;
                    }
                }
            }
       }
    }
}

.credits {
    .container {
        color: $dk-bubble-color;
   }
}
