{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/author/" | relLangURL}}">
        <i class="fa fa-fw fa-users"></i>
        </a>

        <article class="article">
            <div class="content">
                <h3>{{ i18n "authors" }}</h3>
                <hr>
                <ul id="all-categories">
                    {{ range $name, $taxonomy := .Site.Taxonomies.author }}
                        {{- with site.GetPage (printf "/author/%s" (urlize $name)) -}}
                            <li><a href="{{ .Permalink }}">{{ .Title}} ({{ $taxonomy.Count }})</a></li>
                        {{- end -}}
                    {{ end }}
                </ul>
            </div>
        </article>
    </div>
</div>
{{ end }}
