<nav>
    <div class="container">
        <ul class="topnav">
            {{ range where (where .Site.Pages ".Type" "page") ".IsPage" true }}
                <li><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>

        {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}

         <div id="search-box" class="search">
            <i class="fa fa-search"></i>
            <input id="search" type="text" placeholder="Search ...">
        </div>
        {{ end }}
    </div>
</nav>
