{{ define "main" }}
<div class="content">
    <div class="article-wrapper u-cf single">
        {{ with .Site.GetPage "/archive" }}
        <a class="bubble" href="{{ .Permalink }}">
            <i class="fa fa-fw fa-archive"></i>
        </a>
        {{ end }}

        <article class="article">
            <div class="content">
                {{ with .Site.GetPage "/archive" }}
                <h1 class="article-title">{{ .Title }}</h1>
                {{ end }}
                <div class="meta"></div>
                <div class="archive-list">
                    {{ range (where .Site.RegularPages "Type" "not in" (slice "page" "archive" "status" ) ).GroupByPublishDate (.Site.Params.archiveDateGrouping | default "2006-01") }}
                    <h4>{{ .Key }}</h4>
                    <ul>
                        {{ range .Pages }}
                        <li>
                            <a href="{{ .Permalink }}">{{ .Title }} <span>({{ .PublishDate.Format (.Site.Params.DateFormat | default "2006-01-02") }})</span></a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>
        </article>
    </div>
</div>
{{ end }}
