/* do not group these rules */
*::-webkit-input-placeholder {
    color: #ccc;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ccc;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ccc;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

nav {
    background: $special-article-color;
    color: #fff;
    // display: none;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
        display: block;
        margin: 0;
        max-width: 500px;

        li {
            margin-bottom: 0;
            float: left;

            a {
                display: flex;
                padding: 1em 1.5em;
                text-align: center;

                &:hover {
                    color: inherit;
                    background-color: lighten($special-article-color, 10);
                }
            }
        }
    }

    // Algolia-Search
    .search {
        margin-left: auto;
        width: 45%;
        min-width: 300px;
        position: relative;

        input {
            font-family: $content-font;
        }

        i {
            position: absolute;
            left: 1em;
            top: 10px;
            z-index: 40;
        }

        input {
            margin: 0;
            background: transparent;
            border: none;
            color: #eee;
            padding-left: 2.75em;
            width: 100%;
            background-color: lighten($special-article-color, 5);

            &:hover, &:focus {
                background-color: lighten($special-article-color, 10);
                border: none;
            }
        }

        .algolia-autocomplete {
            width: 100%;
            color: #444;

            .aa-dropdown-menu {
                width: 100%;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                .empty {
                    padding: 0.5em 1em;
                    display: block;
                }

                .branding {
                    font-size: 0.75em;
                    text-align: right;
                    padding: 0.5em 1em;
                    background-color: #f1f1f1;

                    img {
                        width: 3.5em;
                        position: relative;
                        top: 0.1em;
                    }
                }

            }

            .aa-suggestion {
                display: flex;
                justify-content: space-between;

                .type {
                    text-transform: capitalize;
                    font-size: 0.75em;
                    line-height: 2em;
                }

                .fa {
                    font-size: 1em;
                    color: #888;
                    position: relative;
                    top: 0.3em;
                }
            }


        }



.aa-input-container {
  display: inline-block;
  position: relative;
}
.aa-input-search {
  width: 300px;
  padding: 12px 28px 12px 12px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
  display: none;
}
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
  pointer-events: none;
}
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box;
}
.aa-suggestion {
  padding: 6px 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
  border-top: 1px solid rgba(228, 228, 228, 0.6);
}
.aa-suggestions-category {
  border-bottom: 1px solid rgba(228, 228, 228, 0.6);
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  padding: 6px 12px;
}


    }
}
