name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          # extended: true

      - name: Create new demo site
        run: hugo new site /tmp/demo-site

      - name: Copy exampleSite content to new site
        run: cp -r ./exampleSite/* /tmp/demo-site

      - name: Adjust the baseURL for gh-pages
        run: sed -i "/baseURL = .*$/baseURL = \"https:\/\/lednerb.github.io\/bilberry-hugo-theme\/\"" /tmp/demo-site/config.toml

      - name: Copy theme to the right location
        run: mkdir /tmp/demo-site/themes/bilberry-hugo-theme && cp -r * /tmp/demo-site/themes/bilberry-hugo-theme

      - name: Build
        run: cd /tmp/demo-site && hugo

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: ../../../../../../../../tmp/demo-site/public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
