name: Update README TOC

on:
  push:
    branches: 
      - 'master'
    paths:
      - 'README.md'
      - 'v4/README.md'

jobs:
  update-toc:
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v4
        name: Run TOC generator
        with:
          TARGET_PATHS: 'README.md,v4/README.md'
